#install import

**https://docs.tweepy.org/en/stable/client.html**

In [ ]:
import pandas as pd
import numpy as np
import time

!pip3 install tweepy --upgrade --q
!pip3 install oauthlib --upgrade --q
!pip3 install requests --upgrade --q
!pip3 install urllib3 --upgrade --q

import tweepy
from tweepy import Client

#access token

In [ ]:
MY_BEARER_TOKEN = 
# create your client 
client = tweepy.Client(bearer_token=MY_BEARER_TOKEN)

#get tw by ids

In [ ]:
# define the id of the tweet you are looking for
id = [1346914797745561603,
1346914797699420160,
1346914798055927808,
1346914797724577794]

# get the tweet
tweet = client.get_tweets(id,
                         tweet_fields = ["created_at", "text", "conversation_id", "public_metrics", "id"], 
                                     user_fields = ["name", "username", 'public_metrics'],
                                     expansions='author_id')

In [ ]:
print(tweet)

Response(data=[<Tweet id=1346914797745561603 text='الربيع الامريكي\n#Trump \n#capitol \n#CapitolBuilding \n#مجلس_الشيوخ'>, <Tweet id=1346914797699420160 text='SHOOT THEM! #USCapitol'>, <Tweet id=1346914797724577794 text='We’ve shown the entire world how easy it to take the US Capitol. Great job today on both domestic and National Security fronts guys. #USCapitol #coup https://t.co/5Z3ANDF76L'>], includes={'users': [<User id=2900867485 name=بكيل عبدالخالق username=abdo_bakil>, <User id=480042985 name=Soops Kitchen username=soopskitchen>, <User id=1268040573736411136 name=Katerina Bell username=Lysaldia>]}, errors=[{'value': '1346914798055927808', 'detail': 'Could not find tweet with ids: [1346914798055927808].', 'title': 'Not Found Error', 'resource_type': 'tweet', 'parameter': 'ids', 'resource_id': '1346914798055927808', 'type': 'https://api.twitter.com/2/problems/resource-not-found'}], meta={})

In [ ]:
users

{2900867485: <User id=2900867485 name=بكيل عبدالخالق username=abdo_bakil>}

In [ ]:
tweet_info_ls1 = []
users = {u["id"]: u for u in tweet.includes['users']}
for tweet in tweet.data:
  if users[tweet.author_id]:
    user = users[tweet.author_id]
    tweet_info = {
              'id':tweet.id, 
              'created_at': tweet.created_at,
              'text': tweet.text,
              'conversation_id': tweet.conversation_id, 
              'public_metrics': tweet.public_metrics, 
              'username': user.username, 
              'public_metrics_user' : user.public_metrics
              }
    tweet_info_ls1.append(tweet_info)

tweets_df_all = pd.DataFrame(tweet_info_ls1)
tweets_df_all

,id,created_at,text,conversation_id,public_metrics,username,public_metrics_user
0,1346914797745561603,2021-01-06 20:21:26+00:00,الربيع الامريكي\n#Trump \n#capitol \n#CapitolB...,1346914797745561603,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",abdo_bakil,"{'followers_count': 1027, 'following_count': 2..."
1,1346914797699420160,2021-01-06 20:21:26+00:00,SHOOT THEM! #USCapitol,1346914797699420160,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",soopskitchen,"{'followers_count': 994, 'following_count': 10..."
2,1346914797724577794,2021-01-06 20:21:26+00:00,We’ve shown the entire world how easy it to ta...,1346914797724577794,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",Lysaldia,"{'followers_count': 143, 'following_count': 16..."

#get tweets in loop

In [ ]:
times = [
    ('2022-01-01T10:00:00Z', '2022-05-01T10:00:00Z'), 
    ('2022-05-01T10:00:00Z', '2022-10-01T10:00:00Z'), 
    ('2022-10-01T10:00:00Z', '2022-12-04T10:00:00Z')
]


queries = [
    "(from:trzaskowski_) lang:pl -is:retweet", 
    "(from:donaldtusk) lang:pl -is:retweet", 
    "(from:KLubnauer) lang:pl -is:retweet", 
    "(from:bbudka) lang:pl -is:retweet", 
    "(from:SlawomirMentzen) lang:pl -is:retweet",
    "(from:SasinJacek) lang:pl -is:retweet"
    ]

In [ ]:
times = [
    ('2022-06-12T10:00:00Z', '2022-09-12T10:00:00Z'), 
    ('2022-09-12T10:00:00Z', '2022-12-13T10:00:00Z')
]


queries = [
    "(from:algore) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en", 
    "(from:POTUS) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en ", 
    "(from:GretaThunberg) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en ", 
    "(from:LeoDiCaprio) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en ", 
    "(from:Ed_Miliband) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en ", 
    "(from:CarolineLucas) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en ", 
    "(from:James_BG) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en ", 
    "(from:JunkScience) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en ", 

    "(from:billmckibben) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en ", 
    "(from:BjornLomborg) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en ", 
    "(from:SteveBakerHW) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en ", 
    "(from:laurenboebert) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en ", 
    "(from:MikeHudema) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en ", 
    ]

In [ ]:
for query in queries:
  print(query)
  for t in times:
    if t[0] == times[0][0]:
      n = 1
      tweets = client.search_all_tweets(query=query,
                                     tweet_fields = ["created_at", "text", "conversation_id", "public_metrics", "id"], 
                                     user_fields = ["name", "username", 'public_metrics'],
                                     expansions='author_id',  
                                     start_time=t[0],end_time=t[1],
                                     max_results = 500)# max limit is 500
  
      print(len(tweets.data), len(tweets.includes['users']))

      tweet_info_ls1 = []
      users = {u["id"]: u for u in tweets.includes['users']}
      for tweet in tweets.data:
          if users[tweet.author_id]:
            user = users[tweet.author_id]
            tweet_info = {
              'id':tweet.id, 
              'created_at': tweet.created_at,
              'text': tweet.text,
              'conversation_id': tweet.conversation_id, 
              'public_metrics': tweet.public_metrics, 
              'username': user.username, 
              'public_metrics_user' : user.public_metrics
              }
            tweet_info_ls1.append(tweet_info)

      tweets_df_all = pd.DataFrame(tweet_info_ls1)
      time.sleep(1.5)   # for academic acess we have time limit on number of requsts per second or sth like that
    else:
      n += 1
      tweets = client.search_all_tweets(query=query,
                                     tweet_fields = ["created_at", "text", "conversation_id", "public_metrics", "id"], 
                                     user_fields = ["name", "username", 'public_metrics'],
                                     expansions='author_id',  
                                     start_time=t[0], end_time=t[1],
                                     max_results = 500)   # max limit is 500
      tweet_info_ls1 = []
      users = {u["id"]: u for u in tweets.includes['users']}

      for tweet in tweets.data:
          if users[tweet.author_id]:
            user = users[tweet.author_id]
            tweet_info = {
                'id':tweet.id, 
                'created_at': tweet.created_at,
                'text': tweet.text,
                'conversation_id': tweet.conversation_id, 
                'public_metrics': tweet.public_metrics, 
                'username': user.username, 
                'public_metrics_user' : user.public_metrics
                }
            tweet_info_ls1.append(tweet_info)

      tweets_df = pd.DataFrame(tweet_info_ls1)
      print('shape: ', tweets_df.shape)

      tweets_df_all = pd.concat([tweets_df_all, tweets_df], axis = 0, ignore_index=True)
      tweets_df_all = tweets_df_all.drop_duplicates(['text'])
      print(tweets_df_all.shape)
      time.sleep(1.5) 
      if n == int(len(times)):
        tweets_df_all['date'] = tweets_df_all['created_at'].dt.tz_localize(None) # convert date to better format
        tweets_df_all = tweets_df_all.drop('created_at', axis=1)
        tweets_df_all['id'] = tweets_df_all['id'].apply(str)
        tweets_df_all['conversation_id'] = tweets_df_all['conversation_id'].apply(str)
        tweets_df_all = tweets_df_all[tweets_df_all.text.str.split().map(len)>5] # discard tweets with less than 6 tokens
        print('Saving: ', query[6:-21], '\n')
        tweets_df_all.to_excel(f'tweets_{query[6:-21]}.xlsx')

In [ ]:
nn = 0
for query in queries:
  print(query)
  for t in times:
    if nn == 0:
      n = 1
      nn+=1
      tweets = client.search_all_tweets(query=query,
                                     tweet_fields = ["created_at", "text", "conversation_id", "public_metrics", "id"], 
                                     user_fields = ["name", "username", 'public_metrics'],
                                     expansions='author_id',  
                                     start_time=t[0],end_time=t[1],
                                     max_results = 100)# max limit is 500
  
      print(len(tweets.data), len(tweets.includes['users']))

      tweet_info_ls1 = []
      users = {u["id"]: u for u in tweets.includes['users']}
      for tweet in tweets.data:
          if users[tweet.author_id]:
            user = users[tweet.author_id]
            tweet_info = {
              'id':tweet.id, 
              'created_at': tweet.created_at,
              'text': tweet.text,
              'conversation_id': tweet.conversation_id, 
              'public_metrics': tweet.public_metrics, 
              'username': user.username, 
              'public_metrics_user' : user.public_metrics
              }
            tweet_info_ls1.append(tweet_info)

      tweets_df_all = pd.DataFrame(tweet_info_ls1)
      time.sleep(1.5)   # for academic acess we have time limit on number of requsts per second or sth like that
    else:
      n += 1
      tweets = client.search_all_tweets(query=query,
                                     tweet_fields = ["created_at", "text", "conversation_id", "public_metrics", "id"], 
                                     user_fields = ["name", "username", 'public_metrics'],
                                     expansions='author_id',  
                                     start_time=t[0], end_time=t[1],
                                     max_results = 100)   # max limit is 500
      tweet_info_ls1 = []
      users = {u["id"]: u for u in tweets.includes['users']}

      for tweet in tweets.data:
          if users[tweet.author_id]:
            user = users[tweet.author_id]
            if tweet.public_metrics['reply_count'] > 5:
              tweet_info = {
                'id':tweet.id, 
                'created_at': tweet.created_at,
                'text': tweet.text,
                'conversation_id': tweet.conversation_id, 
                'public_metrics': tweet.public_metrics, 
                'username': user.username, 
                'public_metrics_user' : user.public_metrics
                }
              tweet_info_ls1.append(tweet_info)

      tweets_df = pd.DataFrame(tweet_info_ls1)
      print('shape: ', tweets_df.shape)

      tweets_df_all = pd.concat([tweets_df_all, tweets_df], axis = 0, ignore_index=True)
      tweets_df_all = tweets_df_all.drop_duplicates(['text'])
      tweets_df_all['id'] = tweets_df_all['id'].apply(str)
      tweets_df_all['conversation_id'] = tweets_df_all['conversation_id'].apply(str)
      print(tweets_df_all.shape)
      time.sleep(1.5) 
      if n == int(len(times)):
        #tweets_df_all = tweets_df_all.drop('created_at', axis=1)
        tweets_df_all = tweets_df_all[tweets_df_all.text.str.split().map(len)>3] # discard tweets with less than 4 tokens
        #print('Saving: ', query[6:-21], '\n')
        #tweets_df_all.to_excel(f'tweets_{query[6:-21]}.xlsx')

(from:algore) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en
14 1
shape:  (13, 7)
(27, 7)
(from:POTUS) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en
shape:  (30, 7)
(57, 8)
shape:  (28, 7)
(85, 8)
(from:GretaThunberg) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en
shape:  (50, 7)
(135, 8)
shape:  (91, 7)
(226, 8)
(from:LeoDiCaprio) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en
shape:  (15, 7)
(241, 8)
shape:  (27, 7)
(268, 8)
(from:Ed_Miliband) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en
shape:  (36, 7)
(304, 8)
shape:  (55, 7)
(358, 8)
(from:CarolineLucas) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en
shape:  (80, 7)
(438, 8)
shape:  (100, 7)
(537, 8)
(from:James_BG) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en
shape:  (98, 7)
(635, 8)
shape:  (100, 7)
(734, 8)
(from:JunkScience) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en
shape:  (100, 7)
(834, 8)
shape:  (100, 7)
(934, 8)
(from:billmckibben) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en
shape:  (98, 7)
(1032, 8)
shape:  (99, 7)
(1130, 8)
(from:BjornLomborg) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en
shape:  (100, 7)
(1230, 8)
shape:  (100, 7)
(1329, 8)
(from:SteveBakerHW) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en
shape:  (22, 7)
(1351, 8)
shape:  (2, 7)
(1353, 8)
(from:laurenboebert) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en
shape:  (6, 7)
(1359, 8)
shape:  (1, 7)
(1360, 8)
(from:MikeHudema) (#climatechange OR #globalwarming OR #climatecrisis OR climate OR warming) lang:en
shape:  (100, 7)
(1460, 8)
shape:  (100, 7)
(1560, 8)

In [ ]:
tweets_df_all.shape

(1560, 8)

In [ ]:
tweets_df_all['date'] = tweets_df_all['created_at'].dt.tz_localize(None)

In [ ]:
tweets_df_all.sample(2)

,id,created_at,text,conversation_id,public_metrics,username,public_metrics_user,date
639,1601998724431024134,2022-12-11 17:53:54+00:00,The new Twitter in all its glory. Someone with...,1601998724431024134,"{'retweet_count': 16, 'reply_count': 14, 'like...",James_BG,"{'followers_count': 56709, 'following_count': ...",2022-12-11 17:53:54
266,1571736252935966720,2022-09-19 05:41:38+00:00,@NPR details how scientists and local governme...,1571736016742158336,"{'retweet_count': 187, 'reply_count': 105, 'li...",LeoDiCaprio,"{'followers_count': 19581616, 'following_count...",2022-09-19 05:41:38

In [ ]:
tweets_df_all.public_metrics.iloc[0]['reply_count']

133

In [ ]:
cols = ['id','text', 'conversation_id', 'public_metrics',
       'username', 'public_metrics_user', 'date', 'category']

In [ ]:
tweets_df_all['category'] = 'original post'

In [ ]:
tweets_df_all[cols].to_excel('/content/drive/MyDrive/polit22-6months.xlsx')

#merging into 1 file

In [ ]:
import glob
datasets = glob.glob('/content/*.xlsx')
datasets

In [ ]:
data = pd.read_excel(datasets[0], index_col=0)
data.sample(2)

In [ ]:
for i in datasets[1:]:
  print(i)
  data2 = pd.read_excel(i, index_col=0)
  data = pd.concat( [data, data2], axis=0, ignore_index=True )

#data = data.drop_duplicates(['text'])
data.shape

In [ ]:
data.to_excel('Twitter-politicians2022-CCh-recent.xlsx')

#find response to tweets

In [ ]:
tweets_df_all['id'].nunique()

1560

In [ ]:
tweets_df_all.conversation_id.iloc[0]

1567908689608347648

In [ ]:
list_ids_query = tweets_df_all['id'].unique()
list_ids_query[:3]

array([1567908689608347648, 1559546615651868673, 1558207319065989122])

In [ ]:
list_ids_query = tweets_df_all.sort_values(by = 'date', ascending=False)['id'].iloc[:60].values
list_ids_query[-5:]

array([1603091471506227202, 1603091445858058241, 1603091355282153474,
       1603090865555009536, 1603090836933279744])

In [ ]:
#     tweets = client.search_recent_tweets(query= 'conversation_id:'+'{0:.0f}'.format(twid),

start_time = '2022-12-06T00:00:00Z'
end_time = '2022-12-12T12:00:00Z'

for twid in list_ids_query:
    tweets = client.search_all_tweets(query='conversation_id:'+str(twid),
                                     tweet_fields = ["created_at", "text", "conversation_id", "public_metrics", "id"], 
                                     user_fields = ["name", "username", 'public_metrics'],
                                     expansions='author_id', max_results = 100)#start_time=start_time, end_time=end_time,
    
    try:
      print(len(tweets.data), len(tweets.includes['users']))

      tweet_info_ls1 = []
      users = {u["id"]: u for u in tweets.includes['users']}

      for tweet in tweets.data:
        if users[tweet.author_id]:
          user = users[tweet.author_id]
          tweet_info = {
          'id':tweet.id,             
          'created_at': tweet.created_at,
          'text': tweet.text,
          'conversation_id': tweet.conversation_id, 
          'public_metrics': tweet.public_metrics, 
          'public_metrics_user': tweet.public_metrics_user, 
          'username': user.username}
          tweet_info_ls1.append(tweet_info)

      tweets_df = pd.DataFrame(tweet_info_ls1)
      print('shape: ', tweets_df.shape)
 
      #tweets_df['date'] = tweets_df['created_at'].dt.tz_localize(None)
      tweets_df_all = pd.concat([tweets_df_all, tweets_df], axis = 0)
      tweets_df_all = tweets_df_all.drop_duplicates(['text', 'conversation_id'])
      print(tweets_df_all.shape)
      print("********************************\n")
      time.sleep(1)

    except:
      print('none')
      time.sleep(1)
      continue

In [ ]:
tweets_df_all.shape

(3049, 9)

In [ ]:
tweets_df_all.sample(3)

,id,created_at,text,conversation_id,public_metrics,username,public_metrics_user,date,category
4,1602322079365451777,2022-12-12 15:18:48+00:00,@JunkScience https://t.co/UehZfzJPze,1602321173374767104,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",Burpedz,NaN,2022-12-12 15:18:48,NaN
83,1602861045445713921,2022-12-14 03:00:27+00:00,@mikojako2022 @POTUS That's not the US Miko..🙄,1602445838227279874,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",Lisasbaktkake,NaN,2022-12-14 03:00:27,NaN
675,1600565338546085891,2022-12-07 18:58:08+00:00,"Also, spare me the drug dealers’ argument that...",1600563343844343808,"{'retweet_count': 6, 'reply_count': 1, 'like_c...",James_BG,"{'followers_count': 56709, 'following_count': ...",2022-12-07 18:58:08,original post

In [ ]:
tweets_df_all['date'] = tweets_df_all['created_at'].dt.tz_localize(None) # convert date to better format

In [ ]:
tweets_df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3049 entries, 0 to 99
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   3049 non-null   int64
 1   created_at           3049 non-null   datetime64[ns, UTC]
 2   text                 3049 non-null   object
 3   conversation_id      3049 non-null   int64
 4   public_metrics       3049 non-null   object
 5   username             3049 non-null   object
 6   public_metrics_user  1560 non-null   object
 7   date                 3049 non-null   datetime64[ns]
 8   category             1560 non-null   object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), int64(2), object(5)
memory usage: 238.2+ KB

In [ ]:
#tweets_df_all = tweets_df_all.drop_duplicates(['text'])
tweets_df_all.shape

(3049, 9)

In [ ]:
tweets_df_all.id.iloc[-1]

1602499032697524226

In [ ]:
sizedf = tweets_df_all.groupby('conversation_id', as_index=False).size()
sizedf.sort_values(by='size').iloc[-15: ]

          conversation_id  size
1447  1602317754316607488    41
1442  1602297756940369922    53
1441  1602292721561079809   100
1445  1602308352482185216   101
1452  1602343557607587843   101
1439  1602255450510352385   101
1454  1602367681277169686   101
1455  1602377761322139648   101
1436  1602156830637129728   101
1457  1602398388871372800   101
1458  1602400401738850304   101
1459  1602445838227279874   101
1448  1602318625054023688   101
1462  1602519195522048000   101
1460  1602494371651325952   103

In [ ]:
convs = sizedf[sizedf['size']>2]['conversation_id'].values

In [ ]:
twsm = tweets_df_all[tweets_df_all.conversation_id.isin(convs)]
twsm.shape

(1592, 9)

In [ ]:
twsm = twsm.sort_values(by = ['conversation_id', 'date'])
twsm.head()

,id,created_at,text,conversation_id,public_metrics,username,public_metrics_user,date,category
13,1537152190208524288,2022-06-15 19:16:55+00:00,I am so energized after spending three days wi...,1537152190208524288,"{'retweet_count': 127, 'reply_count': 88, 'lik...",algore,"{'followers_count': 2945641, 'following_count'...",2022-06-15 19:16:55,original post
12,1537152854997213184,2022-06-15 19:19:34+00:00,Dr. Elena Krieger &amp; @nativehydro joined us...,1537152190208524288,"{'retweet_count': 15, 'reply_count': 2, 'like_...",algore,"{'followers_count': 2945641, 'following_count'...",2022-06-15 19:19:34,original post
11,1537153882622676996,2022-06-15 19:23:39+00:00,@RepSusieLee @repdinatitus @JonathanScott @Cas...,1537152190208524288,"{'retweet_count': 55, 'reply_count': 29, 'like...",algore,"{'followers_count': 2945641, 'following_count'...",2022-06-15 19:23:39,original post
1022,1543709381770072064,2022-07-03 21:32:52+00:00,@florino_richard @AliVelshi oddly the %age of ...,1543654195491921920,"{'retweet_count': 1, 'reply_count': 1, 'like_c...",billmckibben,"{'followers_count': 397327, 'following_count':...",2022-07-03 21:32:52,original post
1021,1543710712962367492,2022-07-03 21:38:09+00:00,"@tackett_joan @AliVelshi actually, slightly hi...",1543654195491921920,"{'retweet_count': 0, 'reply_count': 1, 'like_c...",billmckibben,"{'followers_count': 397327, 'following_count':...",2022-07-03 21:38:09,original post

In [ ]:
tweets_df_all['id'] = tweets_df_all['id'].apply(str)
tweets_df_all['conversation_id'] = tweets_df_all['conversation_id'].apply(str)

In [ ]:
tweets_df_all = tweets_df_all.sort_values(by = ['conversation_id', 'date'])
tweets_df_all.head()

In [ ]:
tweets_df_all[cols].to_excel('/content/drive/MyDrive/polit22-6months.xlsx')

#load ready data

In [ ]:
import pandas as pd
pd.set_option("max_colwidth", 200)
pd.set_option("display.max_columns", None)
import numpy as np

def load_data(file_path, indx = True, indx_col = 0):
  if indx == True and file_path.endswith(".xlsx"):
    data = pd.read_excel(file_path, index_col = indx_col)
  elif indx == False and file_path.endswith(".xlsx"):
    data = pd.read_excel(file_path)

  elif indx == True and file_path.endswith(".csv"):
    data = pd.read_csv(file_path, index_col = indx_col)
  elif indx == False and file_path.endswith(".csv"):
    data = pd.read_csv(file_path)
  return data

In [ ]:
import io

from google.colab import files
uploaded = files.upload()

Saving twitter_sentiment_data.csv to twitter_sentiment_data.csv

In [ ]:
data = load_data('/content/twitter_sentiment_data.csv', indx=False)
data.head(2)

,sentiment,message,tweetid
0,-1,@tiniebeany climate change is an interesting hustle as it was global warming but the planet stopped warming for 15 yes while the suv boom,792927353886371840
1,1,"RT @NatGeoChannel: Watch #BeforeTheFlood right here, as @LeoDiCaprio travels the world to tackle climate change https://t.co/LkDehj3tNn httÃ¢â‚¬Â¦",793124211518832641

In [ ]:
data=data.drop_duplicates('message')

In [ ]:
data.shape

(41033, 3)

In [ ]:
def clean_text(df, text_column):
  import re
  new_texts = []
  for text in df[text_column]:
    text = str(text).replace("\n", " ").strip() # new lines
    text = re.search(r"(@)([A-Za-z0-9._-]+)", text) #  @
    if not text is None:
      new_texts.append(text.group(0))
    else:
      new_texts.append("")
  df['target'] = new_texts
  return df

In [ ]:
data = clean_text(data, 'message')

In [ ]:
data.sample(5)

,sentiment,message,tweetid,target
34394,1,"@theresa_may As global warming and climate damage gets worse, the need to look at any idea will increase. They willâ€¦ https://t.co/xu7ZN093wi",955594231728484352,@theresa_may
8986,1,"Fixed your headline, WP: Trump says, FALSELY, ‘nobody really knows’ if climate change is real https://t.co/RSEpmzFVzv",808011180778385408,
12844,-1,"RT @DineshDSouza: .@FoxNews Once again, the bad guys are caught red handed cooking the data on climate change https://t.co/VsxDNNV01N",829134444405616641,@DineshDSouza
37486,1,@ClimateReality Help me share an idea that can help us raise the funds we need to adresse #Climate Change.\nhttp://t.co/kIfHJD2I5s,620214040237838336,@ClimateReality
37388,0,1. Christopher Columbus was terrible at naming places he $q$discovered$q$ 2. Climate Change wasn$q$t a big concern in 1492 https://t.co/EMHBwluN2v,616957549686829056,

In [ ]:
convs = data.groupby('target', as_index=False).size().sort_values(by='size')
convs = convs[convs['size']>10]
tars = convs.target.tolist()
len(tars)

257

In [ ]:
tars = [t for t in tars if len(t)>5]
tars[:10], len(tars)

(['@ABCPolitics',
  '@EricBoehlert',
  '@jilevin',
  '@GreenPartyUS',
  '@mcnees',
  '@EcoSenseNow',
  '@usatoday',
  '@TEDTalks',
  '@TheDemocrats',
  '@RVAwonk'],
 237)

In [ ]:
data.groupby('target').size().sort_values().iloc[-200:-190]

target
@ProfTerryHughes    13
@ZEROCO2_           13
@VICE               13
@WorldResources     13
@SenWhitehouse      14
@scifri             14
@ConversationUK     14
@RawStory           14
@Khanoisseur        14
@AlexSteffen        14
dtype: int64

In [ ]:
data.tweetid = data.tweetid.apply(str)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41033 entries, 0 to 43942
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentiment  41033 non-null  int64
 1   message    41033 non-null  object
 2   tweetid    41033 non-null  object
 3   target     41033 non-null  object
dtypes: int64(1), object(3)
memory usage: 1.6+ MB

In [ ]:
data = data[data.target.isin(tars)]
data.shape

(7011, 4)

In [ ]:
data = data.sort_values(by ='target', ascending=True)
data.head()

,sentiment,message,tweetid,target
29727,2,"RT @ABCPolitics: Two new studies show global warming is making oceans sicker, depleting them of oxygen and harming delicate coral reefs morâ€¦",949147818865782786,@ABCPolitics
15899,2,"RT @ABCPolitics: Sec. of State Rex Tillerson used alias account in some climate change emails during tenure at Exxon, prosecutors sa…",841791926428942338,@ABCPolitics
28440,2,"RT @ABCPolitics: Humans 'dominant cause' of climate change, new federal report says, contradicting Trump administration officials.…",926855430575394818,@ABCPolitics
22365,-1,@ABCPolitics Truth about climate change. #buffoons https://t.co/Ihm8xu1mNn,871087785045671936,@ABCPolitics
22356,2,"RT @ABCPolitics: Holding signs about Russia, climate change and covfefe, anti-Trump protesters march through New York City…",871071307533824009,@ABCPolitics

In [ ]:
data.columns

Index(['sentiment', 'message', 'tweetid', 'targets', 'target'], dtype='object')

In [ ]:
data[[ 'message', 'tweetid', 'target']].to_excel('/content/drive/MyDrive/Twitter Climate Change Sentiment Dataset.xlsx')
# from https://www.kaggle.com/datasets/edqian/twitter-climate-change-sentiment-dataset

#small analysis of sentiment

In [ ]:
pd.set_option("max_colwidth", 160)
pd.set_option("display.max_columns", None)

import warnings
warnings.filterwarnings('ignore')


def load_data(file_path, indx = True, indx_col = 0):
  '''Parameters:
  file_path: path to your excel or csv file with data,

  indx: boolean - whether there is index column in your file (usually it is the first column) --> *by default it is set to True
  
  indx_col: int - if your file has an index column, specify column number here --> *by default it is equal to 0 (first column)
  '''
  if indx == True and file_path.endswith(".xlsx"):
    data = pd.read_excel(file_path, index_col = indx_col)
  elif indx == False and file_path.endswith(".xlsx"):
    data = pd.read_excel(file_path)

  elif indx == True and file_path.endswith(".csv"):
    data = pd.read_csv(file_path, index_col = indx_col)
  elif indx == False and file_path.endswith(".csv"):
    data = pd.read_csv(file_path)
  return data


def lemmatization(dataframe, text_column):
  '''Parameters:
  dataframe: dataframe with your data,
  
  text_column: column of a dataframe where text is located
  '''
  df = dataframe.copy()
  lemmas = []
  for doc in nlp.pipe(df[text_column].apply(str)):
    lemmas.append(" ".join([token.lemma_ for token in doc if (not token.is_punct and not token.is_stop and not token.like_num and len(token) > 1) ]))
  df["text_lemmatized"] = lemmas
  return df



# this function by analogy to ENG debates for polarity / valence measures
def get_valence_scores(data, content_lemmatized_column, affective_database, db_words = "Word"):
  '''Parameters: 
  dataframe: dataframe with your data,

  content_lemmatized_column: str - name of a column in dataframe where word-lemmas are listed, 
  
  affective_database_path: str - path to a file with affective database, 
  
  db_words: str - name of a column in affective database where words are listed, 
  '''  
  dataframe = data.copy()
  #affective_database = load_data(affective_database_path)

  emotion_values = ["Valence_standardized"]
  used_cols = [db_words] + emotion_values

  affective_database_valence = affective_database[used_cols]
  affective_database_valence.set_index(db_words, inplace=True)
  affective_database_valence_words = affective_database[db_words].tolist()

  neg_valence_scores = []
  pos_valence_scores = []

  overall_scores_pos = []
  overall_scores_neg = []
  overall_scores = []

  for row in dataframe[content_lemmatized_column]:
    words_emo = row.split()
    if len(row) > 0:
      scores = affective_database_valence.loc[words_emo]

      neg_score = scores.where(scores["Valence_standardized"].round(1) < -0.5).count()[0]
      neg_valence_scores.append(neg_score)

      pos_score = scores.where(scores["Valence_standardized"].round(1) > 1).count()[0]
      pos_valence_scores.append(pos_score)

      neg_score2 = abs(scores.where(scores["Valence_standardized"] < -0.5).max()[0])
      if not (neg_score2 >= 0 and neg_score2 <= 4):
        neg_score2 = 0

      pos_score2 = scores.where(scores["Valence_standardized"] > 1).max()[0]
      if not (pos_score2 >= 0 and pos_score2 <= 4):
        pos_score2 = 0

      overall_scores_pos.append(pos_score2)
      overall_scores_neg.append(neg_score2)
      if pos_score2 > neg_score2:
        overall_scores.append('positive')
      elif pos_score2 < neg_score2:
        overall_scores.append('negative')
      elif pos_score2 == neg_score2:
        overall_scores.append('neutral')

    else:
      neg_score=pos_score=polarity_score=score_overall = np.NaN
      overall_scores.append(score_overall)
      overall_scores_pos.append(score_overall)
      overall_scores_neg.append(score_overall)
      neg_valence_scores.append(neg_score)
      pos_valence_scores.append(pos_score)

  dataframe["valence"] = overall_scores
  dataframe["max_valence_score_pos"] = overall_scores_pos
  dataframe["max_valence_score_neg"] = overall_scores_neg
  dataframe["valence_negative"] = neg_valence_scores
  dataframe["valence_positive"] = pos_valence_scores
  return dataframe

In [ ]:
!python -m spacy download pl_core_news_md --quiet

import spacy
nlp = spacy.load('pl_core_news_md')

2022-12-06 09:42:26.095641: E tensorflow/stream_executor/cuda/cuda_driver.cc:271] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
     |████████████████████████████████| 49.4 MB 133 kB/s
✔ Download and installation successful
You can now load the package via spacy.load('pl_core_news_md')

In [ ]:
def clean_text(df, text_column):
  import re
  new_texts = []
  for text in df[text_column]:
    text_list = str(text).lower().split(" ")
    new_string_list = []
    for word in text_list:
      if 'http' in word:
        word = "url"
      elif ('@' in word) and (len(word) > 1):
        word = "username"
      if (len(word) > 2) and not (word.isnumeric()):
        new_string_list.append(word)
    new_string = " ".join(new_string_list)
    new_string = re.sub("\d+", " ", new_string)
    new_string = new_string.replace('\n', ' ')
    new_string = new_string.replace('  ', ' ')
    new_string = new_string.strip()
    new_texts.append(new_string)
  df["clean_"+text_column] = new_texts
  return df

In [ ]:
data.shape

(3231, 7)

In [ ]:
df = data.copy()
df.sample(2)

,id,text,conversation_id,public_metrics,username,public_metrics_user,date
233,1.577593e+18,Samorząd to też służba i obowiązki wobec mieszkańców! Panie @trzaskowski_ nie musi Pan korzystać ze wsparcia spółek energetycznych. Nie ma przymusu. Inne sa...,1.577593e+18,"{'retweet_count': 466, 'reply_count': 2843, 'like_count': 2004, 'quote_count': 139}",SasinJacek,"{'followers_count': 78976, 'following_count': 757, 'tweet_count': 8515, 'listed_count': 256}",2022-10-05 09:32:46
2310,1.506716e+18,"Widać, jak posłowie PIS są dumni ze skali podwyżek (4,4%) dla nauczycieli. Mniej niż połowa inflacji rocznej. \n\nPuste ławy sejmowe i rządowe. https://t.c...",1.506716e+18,"{'retweet_count': 83, 'reply_count': 34, 'like_count': 414, 'quote_count': 2}",KLubnauer,"{'followers_count': 138505, 'following_count': 803, 'tweet_count': 49576, 'listed_count': 327}",2022-03-23 19:34:24

In [ ]:
df['text'] = df['text'].apply(str)
df = clean_text(df, 'text')
df = df[df.clean_text.str.split().map(len) > 2]
df.shape

(3230, 8)

In [ ]:
df.head(2)

,id,text,conversation_id,public_metrics,username,public_metrics_user,date,clean_text
0,1.518291e+18,"Gratulacje @EmmanuelMacron. Dzięki Twojej wygranej będzie więcej Europy w Europie. I mniej Rosji. A już niedługo nadejdzie taki dzień, że będziemy mieli Par...",1.518291e+18,"{'retweet_count': 2240, 'reply_count': 3846, 'like_count': 20520, 'quote_count': 437}",donaldtusk,"{'followers_count': 1609242, 'following_count': 534, 'tweet_count': 969, 'listed_count': 2108}",2022-04-24 18:11:13,"gratulacje username dzięki twojej wygranej będzie więcej europy europie. mniej rosji. już niedługo nadejdzie taki dzień, będziemy mieli paryż warszawie."
1,1.517848e+18,65 lat. Idealny moment na pierwszy maraton w życiu. https://t.co/WB3QX1yP2W,1.517848e+18,"{'retweet_count': 1050, 'reply_count': 2185, 'like_count': 13367, 'quote_count': 223}",donaldtusk,"{'followers_count': 1609242, 'following_count': 534, 'tweet_count': 969, 'listed_count': 2108}",2022-04-23 12:50:52,lat. idealny moment pierwszy maraton życiu. url

In [ ]:
df = lemmatization(df, 'clean_text')
df.head(1)

,id,text,conversation_id,public_metrics,username,public_metrics_user,date,clean_text,text_lemmatized
0,1.518291e+18,"Gratulacje @EmmanuelMacron. Dzięki Twojej wygranej będzie więcej Europy w Europie. I mniej Rosji. A już niedługo nadejdzie taki dzień, że będziemy mieli Par...",1.518291e+18,"{'retweet_count': 2240, 'reply_count': 3846, 'like_count': 20520, 'quote_count': 437}",donaldtusk,"{'followers_count': 1609242, 'following_count': 534, 'tweet_count': 969, 'listed_count': 2108}",2022-04-24 18:11:13,"gratulacje username dzięki twojej wygranej będzie więcej europy europie. mniej rosji. już niedługo nadejdzie taki dzień, będziemy mieli paryż warszawie.",gratulacja username dzięki twój wygrana Europa Europa mniej rosja niedługo nadejść dzień być mieć paryż Warszawa

In [ ]:
affdb = load_data("/content/drive/MyDrive/Colab Notebooks/Emotional word lists/valence_only10k_scaled_NAWL-Sentimenti_Imbir.xlsx")
print(affdb.shape)
affdb.head(2)

(10806, 4)

       Word    Database   Valence  Valence_standardized
0  Maczkowy  Sentimenti  0.566481              0.419659
1  abderyta  Sentimenti  0.402546             -0.553951

In [ ]:
affdb2 = affdb[ (affdb.Valence_standardized < -0.5) | (affdb.Valence_standardized > 1) ]
affdb2['Word'] = affdb2['Word'].str.lower()
aff_words = affdb2['Word'].values
aff_words[:5]

array(['abderyta', 'aberracyjny', 'absmak', 'absurd', 'absurdalny'],
      dtype=object)

In [ ]:
df['valence_words'] = df['text_lemmatized'].apply(lambda x: " ".join( [w for w in str(x).split() if w in aff_words] ))
df['valence_words'].iloc[:3]

0     dzięki paryż
1    idealny życie
2
Name: valence_words, dtype: object

In [ ]:
df[df.valence_words.str.split().map(len) > 1].shape, df.shape

((2056, 10), (3230, 10))

In [ ]:
cols_literal2 = {'valence_words'} 

for col in cols_literal2:
  print(col)
  df = get_valence_scores(df, content_lemmatized_column = col, 
                        affective_database = affdb2)

valence_words

In [ ]:
df.head(1)

,id,text,conversation_id,public_metrics,username,public_metrics_user,date,clean_text,text_lemmatized,valence_words,valence,max_valence_score_pos,max_valence_score_neg,valence_negative,valence_positive
0,1.518291e+18,"Gratulacje @EmmanuelMacron. Dzięki Twojej wygranej będzie więcej Europy w Europie. I mniej Rosji. A już niedługo nadejdzie taki dzień, że będziemy mieli Par...",1.518291e+18,"{'retweet_count': 2240, 'reply_count': 3846, 'like_count': 20520, 'quote_count': 437}",donaldtusk,"{'followers_count': 1609242, 'following_count': 534, 'tweet_count': 969, 'listed_count': 2108}",2022-04-24 18:11:13,"gratulacje username dzięki twojej wygranej będzie więcej europy europie. mniej rosji. już niedługo nadejdzie taki dzień, będziemy mieli paryż warszawie.",gratulacja username dzięki twój wygrana Europa Europa mniej rosja niedługo nadejść dzień być mieć paryż Warszawa,dzięki paryż,positive,1.325586,0.0,0.0,2.0

In [ ]:
df.valence.value_counts(normalize=True)

positive    0.751034
negative    0.248966
Name: valence, dtype: float64

In [ ]:
df['neg_percent'] = (df.valence_negative / df.text_lemmatized.str.split().map(len)) * 100
df['pos_percent'] = (df.valence_positive / df.text_lemmatized.str.split().map(len)) * 100

df.loc[:, ['neg_percent', 'pos_percent']].describe().round(3)

       neg_percent  pos_percent
count     2659.000     2659.000
mean         7.328       11.210
std          8.033        9.476
min          0.000        0.000
25%          0.000        4.348
50%          5.000       10.000
75%         11.765       16.000
max         50.000      100.000

In [ ]:
df[df.neg_percent > df.pos_percent].sample(3)

,id,text,conversation_id,public_metrics,username,public_metrics_user,date,clean_text,text_lemmatized,valence_words,valence,max_valence_score_pos,max_valence_score_neg,valence_negative,valence_positive,neg_percent,pos_percent
478,1.500530e+18,Jednocześnie @warszawa zorganizowała już na prośbę wojewody transport dla uchodźców z Dworca Centralnego do punktów recepcyjnych wojewody. Od początku akcji...,1.500530e+18,"{'retweet_count': 56, 'reply_count': 36, 'like_count': 610, 'quote_count': 1}",trzaskowski_,"{'followers_count': 762289, 'following_count': 706, 'tweet_count': 10125, 'listed_count': 766}",2022-03-06 17:54:31,jednocześnie username zorganizowała już prośbę wojewody transport dla uchodźców dworca centralnego punktów recepcyjnych wojewody. początku akcji username zo...,jednocześnie username zorganizować prośba wojewoda transport uchodźca dworzec centralny punkt recepcyjny wojewoda początek akcja username zorganizować blisk...,uchodźca początek uchodźca,positive,1.081714,0.787617,2.0,1.0,8.695652,4.347826
2485,1.569617e+18,@KONFEDERACJA_ @RMF24pl @KO_Obywatelska 1. Obligacje NBP dla obywateli\n2. Nieskupowanie obligacji skarbowych przez NBP \n3. Odzyskanie kasy z KPO na inwest...,1.569556e+18,"{'retweet_count': 1, 'reply_count': 22, 'like_count': 15, 'quote_count': 0}",KLubnauer,"{'followers_count': 138505, 'following_count': 803, 'tweet_count': 49576, 'listed_count': 327}",2022-09-13 09:20:59,username username username obligacje nbp dla obywateli . nieskupowanie obligacji skarbowych przez nbp . odzyskanie kasy kpo inwestycje . uruchomienie energ...,username username username obligacja nbp obywatel nieskupowanie obligacja skarbowy nbp odzyskać kasa kpo inwestycja uruchomić energetyka wiatrowy ograniczać...,ograniczać wydatek,negative,0.000000,1.287745,2.0,0.0,7.142857,0.000000
3170,1.585866e+18,"@KaziSmolinski Przypominam, że mi groził strażnik ze straży marszałkowskiej. Mający ostra broń, pracujący w sejmie. Został skazany wyrokiem w zawieszeniu. \...",1.585636e+18,"{'retweet_count': 71, 'reply_count': 9, 'like_count': 434, 'quote_count': 2}",KLubnauer,"{'followers_count': 138505, 'following_count': 803, 'tweet_count': 49576, 'listed_count': 327}",2022-10-28 05:29:40,"username przypominam, groził strażnik straży marszałkowskiej. mający ostra broń, pracujący sejmie. został skazany wyrokiem zawieszeniu. to budujecie polskę...",username przypominać grozić strażnik straż marszałkowski mieć ostry broń pracować sejm skazać wyrokie zawieszeniu budujeć polska opartą nienawiść publiczny ...,grozić strażnik broń polska nienawiść,positive,1.686199,0.564211,3.0,2.0,15.000000,10.000000

In [ ]:
df[df.neg_percent < df.pos_percent].sample(3)

,id,text,conversation_id,public_metrics,username,public_metrics_user,date,clean_text,text_lemmatized,valence_words,valence,max_valence_score_pos,max_valence_score_neg,valence_negative,valence_positive,neg_percent,pos_percent
921,1.539938e+18,"Mimo pandemii i trudnej sytuacji finansowej wciąż inwestujemy w rozwój @warszawa. Aby była miastem coraz bardziej przyjaznym, wygodnym, dostępnym, zielonym....",1.539938e+18,"{'retweet_count': 9, 'reply_count': 4, 'like_count': 62, 'quote_count': 0}",trzaskowski_,"{'followers_count': 762289, 'following_count': 706, 'tweet_count': 10125, 'listed_count': 766}",2022-06-23 11:45:38,"mimo pandemii trudnej sytuacji finansowej wciąż inwestujemy rozwój username aby była miastem coraz bardziej przyjaznym, wygodnym, dostępnym, zielonym. konse...",pandemia trudny sytuacja finansowy wciąż inwestować rozwój username miasto przyjazny wygodny dostępny zielony konsekwentnie realizować projekt nowecentrumwa...,trudny przyjazny wygodny zielony,positive,1.986136,0.844793,1.0,3.0,4.166667,12.500000
2048,1.517372e+18,"Zawieszenia\n1. Ziobro rozsądek dawno zawiesił, teraz chce zawiesić składkę Pl do UE.\n2. Zaraz zawieszą się loty z Okęcia.\n3. Inflacja nie zawiesza się, d...",1.517372e+18,"{'retweet_count': 143, 'reply_count': 111, 'like_count': 833, 'quote_count': 8}",KLubnauer,"{'followers_count': 138505, 'following_count': 803, 'tweet_count': 49576, 'listed_count': 327}",2022-04-22 05:17:04,"zawieszenia . ziobro rozsądek dawno zawiesił, teraz chce zawiesić składkę ue. . zaraz zawieszą się loty okęcia. . inflacja nie zawiesza się, czerwca może by...",zawieszenie ziobro rozsądek dawno zawiesić zawiesić składka UE zaraz zawiesić lot okęcie inflacja zawieszać czerwiec pis zawieszać wybór glapińskiy odwołać ...,rozsądek majątek,positive,2.246931,0.000000,0.0,2.0,0.000000,8.000000
831,1.553796e+18,#NaŻywo: Apel Pamięci przed pomnikiem Powstania Warszawskiego na Placu Krasińskich. https://t.co/hxwvcrTksj #WarszawaPamięta #PowstanieWarszawskie #PW1944 @...,1.553796e+18,"{'retweet_count': 18, 'reply_count': 16, 'like_count': 111, 'quote_count': 0}",trzaskowski_,"{'followers_count': 762289, 'following_count': 706, 'tweet_count': 10125, 'listed_count': 766}",2022-07-31 17:32:38,#nażywo: apel pamięci przed pomnikiem powstania warszawskiego placu krasińskich. url #warszawapamięta #powstaniewarszawskie #pw username,nażywo apel pamięć pomnikiem powstać warszawski plac krasiński url warszawapamięta powstaniewarszawski pw username,pamięć,positive,1.058220,0.000000,0.0,1.0,0.000000,7.692308

In [ ]:
np.quantile(df['neg_percent'].astype('float32').fillna(0).values, q=0.9), np.quantile(df['pos_percent'].astype('float32').fillna(0).values, q=0.9)

(16.66666603088379, 21.90972213745114)

In [ ]:
df['high_neg'] = np.where((df.neg_percent >= 17) & (df.text_lemmatized.str.split().map(len) >= 5), 1, np.nan)
df['high_pos'] = np.where((df.pos_percent >= 22) & (df.text_lemmatized.str.split().map(len) >= 5), 1, np.nan)

df['high_neg'].sum(), df['high_pos'].sum()

(262.0, 273.0)

In [ ]:
df[ df['high_neg'] == 1].sample(n=3)

,id,text,conversation_id,public_metrics,username,public_metrics_user,date,clean_text,text_lemmatized,valence_words,valence,max_valence_score_pos,max_valence_score_neg,valence_negative,valence_positive,neg_percent,pos_percent,high_neg,high_pos
3143,1.587008e+18,Nic projektu @prezydentpl nie znalazło się w tej ustawie. https://t.co/T0HgUTbyeh,1.587008e+18,"{'retweet_count': 5, 'reply_count': 1, 'like_count': 23, 'quote_count': 0}",KLubnauer,"{'followers_count': 138505, 'following_count': 803, 'tweet_count': 49576, 'listed_count': 327}",2022-10-31 09:05:07,nic projektu username nie znalazło się tej ustawie. url,projekt username znaleźć ustawa url,znaleźć,negative,0.000000,1.867072,1.0,0.0,20.00000,0.000000,1.0,NaN
1940,1.581966e+18,Od 2015 roku systemowo osłabiają Polskę na arenie międzynarodowej. Zawierają polityczne sojusze z antyeuropejskimi poplecznikami Putina. Wspierają ludzi pok...,1.581966e+18,"{'retweet_count': 180, 'reply_count': 728, 'like_count': 1221, 'quote_count': 30}",bbudka,"{'followers_count': 270245, 'following_count': 477, 'tweet_count': 49230, 'listed_count': 467}",2022-10-17 11:11:08,roku systemowo osłabiają polskę arenie międzynarodowej. zawierają polityczne sojusze antyeuropejskimi poplecznikami putina. wspierają ludzi pokroju trumpa c...,systemowo osłabiać polska arena międzynarodowy zawierać polityczny sojusza antyeuropejski popleczniek putin wspierać człowiek pokrój trumpa pen blokować pot...,osłabiać polska wspierać blokować potrzebny banda zakompleksiony szkodnik,positive,1.626936,1.159340,5.0,3.0,21.73913,13.043478,1.0,NaN
2341,1.505558e+18,"Wysyłać młodocianych z Rosji na wojnę, żeby zabijali dzieci ukraińskie to jeszcze większa zbrodnia Putina. \n#StandWithUkriane https://t.co/JjdFfM8AYZ",1.505558e+18,"{'retweet_count': 17, 'reply_count': 9, 'like_count': 78, 'quote_count': 1}",KLubnauer,"{'followers_count': 138505, 'following_count': 803, 'tweet_count': 49576, 'listed_count': 327}",2022-03-20 14:51:26,"wysyłać młodocianych rosji wojnę, żeby zabijali dzieci ukraińskie jeszcze większa zbrodnia putina. #standwithukriane url",wysyłać młodociany rosja wojna zabijać dziecko ukraiński duży zbrodnia putin standwithukriać url,wojna zabijać zbrodnia,negative,0.000000,1.819174,3.0,0.0,25.00000,0.000000,1.0,NaN

In [ ]:
df[ df['high_neg'].isna()].sample(n=3)

,id,text,conversation_id,public_metrics,username,public_metrics_user,date,clean_text,text_lemmatized,valence_words,valence,max_valence_score_pos,max_valence_score_neg,valence_negative,valence_positive,neg_percent,pos_percent,high_neg,high_pos
327,1.512324e+18,#NaŻywo: Budujemy synergię @Platforma_org z samorządami. Konferencja prasowa w Rzeszowie. https://t.co/GDrqwk3ZXM,1.512324e+18,"{'retweet_count': 34, 'reply_count': 15, 'like_count': 196, 'quote_count': 0}",trzaskowski_,"{'followers_count': 762289, 'following_count': 706, 'tweet_count': 10125, 'listed_count': 766}",2022-04-08 06:57:29,#nażywo: budujemy synergię username samorządami. konferencja prasowa rzeszowie. url,nażywo budować synergia username samorząd konferencja prasowy rzeszowie url,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,1.586100e+18,Mamy to! Pierwszą elektrownię jądrową w Polsce zbuduje amerykański @WECNuclear. To nie jest nasze ostatnie słowo. W poniedziałek w Seulu kolejne rozmowy o d...,1.586100e+18,"{'retweet_count': 491, 'reply_count': 1910, 'like_count': 3058, 'quote_count': 135}",SasinJacek,"{'followers_count': 78976, 'following_count': 757, 'tweet_count': 8515, 'listed_count': 256}",2022-10-28 20:57:11,mamy to! pierwszą elektrownię jądrową polsce zbuduje amerykański username nie jest nasze ostatnie słowo. poniedziałek seulu kolejne rozmowy dużym projekcie ...,pierwszy elektrownia jądrowy Polska zbudować amerykański username ostatni słowo poniedziałek seul kolejny rozmowa duży projekt dot energetyka jądrowy konsek...,ostatni poniedziałek energetyczny,positive,1.808677,0.939157,2.0,1.0,8.695652,4.347826,NaN,NaN
1719,1.479537e+18,"Ach te Beaty, co jedna to lepsza…😉 https://t.co/sGEuznKov7",1.479537e+18,"{'retweet_count': 17, 'reply_count': 44, 'like_count': 347, 'quote_count': 2}",bbudka,"{'followers_count': 270245, 'following_count': 477, 'tweet_count': 49230, 'listed_count': 467}",2022-01-07 19:35:18,"ach beaty, jedna lepsza…😉 url",beat dobry url,dobry,positive,1.545769,0.000000,0.0,1.0,0.000000,33.333333,NaN,NaN

In [ ]:
df.shape

(3230, 19)

In [ ]:
df.to_excel('Twpoliticians_2022.xlsx')